<!DOCTYPE html>
<html>
<head>
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/aboutus.css">
</head>
<body>
<body>
title= title
<div class="nav">
<div class="container">
<ul class="pull-left">
<li><a href="/">Home</a></li>
</ul>
</div>
</div>

<div class="row">
<div class="col-md-3 img-responsive pull-left">
<img src="/images/JerryProf.jpg" class="picture">
<h2>Jerry Yue Zhao</h2>
<p> Jerry Zhao once won the Tour-De-France, but was disqualified for using a unicycle. He is a second year computer science major at UCSD and was involved in most of the front end development and the Geolocation API. Jerry is interested in software engineering and entrepreneurship. </p>
</div>
<div class="col-md-3">
<img src="/images/JustinProf.jpg" class="picture">
<h2>Justin Teo</h2>
<p>Justin Teo once won the world series of poker using UNO cards. Justin is a second year computer science major at UCLA. He was involved in creating and managing the databases and back end development as well as UI development. Justin is interested in Artificial Intelligence.</p>
</div>
<div class="col-md-3">
<img src="/images/KevinProf.jpg" class="picture">
<h2>Kevin Zhu</h2>
<p>Once while sailing the world, Kevin Zhu discovered a short cut. Kevin is a second year computer science major at UCLA and was involved in the Respoke API integration and front end development. Kevin is interested in Software Engineering.</p>
</div>
<div class="col-md-3">
<img src="/images/AlecProf.jpg" class="picture">
<h2>Alec Brickner</h2>
<p>Alec Brickner's pillow is cool on both sides. Alec is a second year Computer Science major at UCSD. He set up the database and protected against XSS attacks. He is interested in AI and machine learning.</p>

</div>
</div>

</body>
</html>