doctype html
html(ng-app="chatApp")
  head
    title= title
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/chatTemp.css", rel="stylesheet")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="https://cdn.respoke.io/respoke.min.js")
    script.
        var user = !{JSON.stringify(user)};
    script(src="/javascripts/chat.js")
  body(ng-controller='chatCtrl')
    h1= title
    h4 Group: {{ groupName }}
    h4 Welcome {{ user }}
    ul(id="messages")
    br
    p Message
    textarea(id="textToSend", rows="2")
    br
    button(id='sendMessage') Send Message
