doctype html
html(ng-app="chatApp")
  head
    title= title
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/chatTemp.css", rel="stylesheet")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="https://cdn.respoke.io/respoke.min.js")
    script.
        var user = !{JSON.stringify(user)};
    script(src="/javascripts/chat.js")
  body(ng-controller='chatCtrl')
    <div id="wrapper">
    <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
    <li class="sidebar-brand">
    <a href="#">
    h3 Welcome {{user}}!
    </a>

    h4(class="usersTitle") users
    </li>
    br
    <li>
    <a href="#">Dashboard</a>
    </li>
    <li>
    <a href="#">Shortcuts</a>
    </li>
    <li>
    <a href="#">Overview</a>
    </li>
    <li>
    <a href="#">Events</a>
    </li>
    <li>
    <a href="#">About</a>
    </li>
    <li>
    <a href="#">Services</a>
    </li>
    <li>
    <a href="#">Contact</a>
    </li>
    </ul>
    </div>
    br
    div(class="nav")
      div(class="container")
        ul(class="pull-right")
          <a href="/groups">
          <button type="button" class="btn btn-success btn-md" id="backButton">Back to Group Page</button>
          </a>
    h2(class="title") {{ groupName }}

    div(class="messaging")
      ul(id="messages")
      form(ng-submit="sendMessage()")
        textarea(id="textToSend", rows="1")
        button.btn.btn-primary(class='sendMessage', type="submit") Send
