<!DOCTYPE html>
<html ng-app="groupApp">
<head>
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/group.css">
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/javascripts/group.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<div class="nav">
<div class="container">
<ul class="pull-right">
<li><a href="#">About us</a></li>
</ul>
</div>
</div>

<div class="createGroup">
<div class="col-md-12">
<div class="createGroupButton">
<button type="button" class="btn btn-success btn-lg">Create New Group</button>
<div style="display:none">
<div class="col-md-4"></div>
<div class="col-md-4">
<h3 > Create a group </h3>
<p>Group Name: </p>
<input type="text" class="form-control" id="groupName">
<br>
<p>Description (optional): </p>
<textarea class="form-control" rows="5" id="groupDescription"></textarea>
<br>
<p>Max Users:</p>
<input type="text" class="form-control" id="maxUsers" value = '20'>
<br>
<p>Choose Group Range:</p>
<select id="range">
<option>400m</option>
<option>800m</option>
<option>1600m</option>
</select>
<br>
<br>
<button type="button" class="btn btn-success btn-lg" onClick="makeGroup()">Create!</button>
</div>
<div class="col-md-4"></div>

</div>
</div>
</div>
</div>

<script>
$( "button" ).click(function() {
$( "div" ).show( "slow" );
});
</script>

<div class="groupList" ng-controller='groupCtrl'>
<div class="row">
<div ng-repeat="group in groups" class="col-md-5">
<a href ="#">
<h3>{{group.name}}</h3>
<h5>{{group.description}}</h5>
<h4>{{group.capacity}}</h4>
</a>
</div>


</div>
</div>

<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>