<!DOCTYPE html>
<html ng-app="groupApp">
<head>
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/group.css">
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/groups.js"></script>
</head>
<body>
title= title


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="myModalLabel">Modal title</h4>
</div>
<div class="modal-body">
<p>...</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>

<div class="nav">
<div class="container">
<ul class="pull-right">
<li><a href="#">About us</a></li>
</ul>
</div>
</div>

<div class="createGroup" ng-controller="makeGroupCtrl">
<div class="col-md-12">
<div class="createGroupButton">
<button id = "createNewGroupButton" type="button" class="btn btn-success btn-lg">Create New Group</button>
<div style="display:none" id="createGroupArea">
<div class="col-md-4"></div>
<div class="col-md-4">
<h3 > Create a group </h3>
<p>Group Name: </p>
<input type="text" class="form-control" id="groupName">
<br>
<p>Description (optional): </p>
<textarea class="form-control" rows="5" id="groupDescription"></textarea>
<br>

<p>Choose Group Range(miles):</p>
<select id="range">
<option>0.25</option>
<option>0.5</option>
<option>1</option>
</select>
<br>
<br>
<button type="button" class="btn btn-success btn-lg" ng-click="makeGroup()">Create!</button>
<button type="button" id="cancelCreateGroup" class="btn btn-danger btn-lg">Cancel</button>
</div>
<div class="col-md-4"></div>

</div>
</div>
</div>
</div>

script.
    $("#createNewGroupButton").click(function() {
        $("#createGroupArea").show("slow");
    });
    $("#cancelCreateGroup").click(function() {
        $("#createGroupArea").hide("slow");
    });

<div class="groupList" ng-controller='groupCtrl'>
<div class="row">
<div ng-repeat="group in groups">
<button class="col-md-5" ng-click="showLoginModal()">
<h3>{{group.GroupID}}</h3>
<h5>{{group.Description}}</h5>
</button>
</div>
</div>
</div>

</body>
