<!DOCTYPE html>
<html>

<head>
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="/">
<link rel="stylesheet" href="/stylesheets/main.css">

</head>

<body>
title= title
<div class="nav">
<div class="container">
<ul class="pull-right">
<li><a href="#">About us</a></li>
</ul>
</div>
</div>

<div class="jumbotron">
<div class="container">
<h1>Application Name</h1>
<p>Chat with people based on your current area!</p>
<a href="#learn-more">Learn More</a><br><br><br><br><br><br>
<div class="text-center">
<a href="/groups">
<button type="button" class="btn btn-success btn-lg">Connect</button>
</button>
</a>
</div>
</div>
</div>

<div id="learn-more">
<div class="neighborhood-guides">
<div class="container">
<h2>Learn More</h2>

<div class="row">
<div class="col-md-8">
<h4>Joining Chat Groups</h4>
<p> Automatically connect to chat groups close to your area. Select any open chat group to chat with people near you.</p>
</div>
<div class="col-md-4">
<img src="/images/Chat.png">
</div>
</div>

<br><br>

<div class="row">
<div class="col-md-4">
<img src="images/MakeGroup.png">
</div>
<div class="col-md-8">
<h4>Making a Group</h4>
<p>Create chat groups and choose how far away you want people to be able to reach you, whether it be a room, a building, or your entire neighborhood.</p>
</div>
</div>

</div>
</div>
</div>

</body>
</html>
